<h1>Lista de Temas</h1>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @temas.each do |tema| %>
  <tr>
 	 <td><%= link_to tema.nombre, tema %></td>
<% if has_role? :admin%>
	<td><%= link_to 'Editar', edit_tema_path(tema) %><td>
    <td><%= link_to 'Destroy', tema, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_authorized :new, Tema.new, 'Añadir tema', new_tema_path %>
