<h2>

  <%=h @tema.nombre %>
</h2>

<div id="comments">
		<%= render :partial =>@tema.comentarios%>
		<div id="respond">
			<h3 class= "reply-title">Nuevo Comentario</h3>
				<%= render :partial => "comentarios/form",
				 :locals => { :button_label => "Enviar", :object => @tema } %>
		</div>
</div>
