<% div_for comentario do %>
	<hr />
	<div class ="comment-author">
	<cite class= "fn"><%=comentario.autor%></cite>
	<span class= "says"> dice: </span>
	</div>
	<div class="comment-meta commentmetadata">
	<%=h comentario.created_at%>	
	</div>
	<div class= "comment-body">
	<%=h comentario.texto%>
	</div>
<%end%>