<% content_for :head do%>
<%=auto_discovery_link_tag :rss, formatted_noticias_path(:rss)%>
<% end %>
<% content_for :widget do%>
	<% form_tag noticias_path, :method => 'get' do %>
		<p>
			<%= submit_tag "Buscar", :name => nil %>
			<%= text_field_tag :search, params[:search] %>
		</p>
		<% end %>
<% end %>
<h1>Noticias</h1>
<%= render(:partial => @noticias)%>