<%content_for :head do%>
<script type="text/javascript">
	$(function() {
		$("#estudiante_universidad_nombre").autocomplete({
			source: "<%=universidades_path(:format=> "json")%>",
			minLength: 1
		});
	});
	</script>
	<% end %>
<h1>Nuevo estudiante</h1>

<%= render :partial => "form", :locals => { :button_label => "Añadir Estudiante"} %>

<%= link_to 'Back', estudiantes_path %>