<p>
  <h1><%=h @mensaje.titulo %></h1>
</p>

<p>
  <b>De:</b>
  <%=h @mensaje.emisor.login %>
</p>

<p>
  <%=h @mensaje.contenido %>
</p>

 <%= link_to "Responder", new_mensaje_path({:receptor=>@mensaje.emisor.login}) %>