<%content_for :head do%>
<%= javascript_include_tag :ckeditor %>
<script type = "text/javascript">
$(function(){
	$("#actividad_fecha").datepicker({
				changeMonth: true,
				changeYear: true
			});
});
</script>
<% end %>
<h1>Editar Actividad</h1>

<%= render :partial => "form", :locals => { :button_label => "Actualizar"} %>

<%= link_to 'Show', @actividad %> |
<%= link_to 'Back', actividades_path %>