<% title "Actividades" %>
<ul>
  <% for actividad in @actividades %>
    <li class="arrow">
      <%= link_to h(actividad.titulo), actividad %>
    </li>
  <% end %>
</ul>
<ul><li class="arrow"><%= link_to "Nueva Actividad", new_actividad_path %></li></ul>