<%content_for :head do%>
<%= javascript_include_tag :ckeditor %>
<% end %>
<h1>Nuevo Grupo Estudiantil</h1>

<%= render :partial => "form", :locals => { :button_label => "Añadir Grupo Estudiantil"} %>